<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}list publications{% endblock %}

{% block conteudo %}

<div class="action-list">
    <a href="#">
        <button class="btn-new" >new-publication</button>
    </a>
    <form class="search" action="#" method="get">
        <input type="text" name="search" placeholder="which title name" >
        <button type="submit">seach</button>
    </form>
    
</div>

{% for pokemon in pokemons %}
    <div class="posts">
        
        <div class="post-header">
            <h3>{{ pokemon.name }}</h3>
            <img width="300" src="https://pokeres.bastionbot.org/images/pokemon/{{ pokemon.id }}.png" alt="{{ pokemon.name }}">
        </div>
        <div class="post-body">
            <p><a href="#">veja mais...</a></p>
        </div>
    </div>
{% endfor %}
{% endblock %}